<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Développeur Web fullstack passionné et disponible pour vos projets.">
  <link rel="icon" type="image/png" href="https://i.ibb.co/X2GtTjk/sm.png"/>
  <title inertia>Selim Ramdani : Portfolio</title>
  
  @viteReactRefresh()
  @inertiaHead()
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
</head>

<body>
  @inertia()
</body>

</html>