@import "./global.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Geist-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Geist-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Geist-Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Geist-Medium.woff2) format('woff2');
  }
}